/* 네비바 하단 고정 밑 세로 길이 설정 */
.wrappers {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

/* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
.nav-links {
  /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
  float: left;
  width: 100%;
  text-align: center;

  /* 세로길이 설정 */
  height: 60px;
  line-height: 52px;
}

/* 하단 네비바의 메뉴를 눌렀을 때 색상 변경*/
.nav-items {
  color: rgb(83, 50, 248);
  font-size: 20px;
}
